name: Pipeline de Pruebas y Cobertura

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Descargar el código del repositorio
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Configurar Java 17 (La versión de tu proyecto)
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # 3. Ejecutar Pruebas y Generar Reporte JaCoCo
    # El comando -B es batch mode (menos logs), test corre las pruebas, jacoco:report genera el HTML
    - name: Build with Maven, Test and Report
      run: mvn -B test jacoco:report --file pom.xml

    # 4. (Opcional pero recomendado) Mostrar resumen de pruebas en el log
    - name: Upload JaCoCo Report
      uses: actions/upload-artifact@v3
      with:
        name: jacoco-reporte-html
        path: target/site/jacoco/
